@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('@/common/iconfont.ttf?t=1632646457401') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zan:before {
  content: "\e67b";
}

.icon-shuye:before {
  content: "\e601";
}

.icon-shuyeh:before {
  content: "\e606";
}

