<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    
    <context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j/log4j.xml</param-value>
	</context-param>
	
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:cloudboyyun/config/spring/applicationContext.xml
		</param-value>
	</context-param>
	
    <listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	
	<!-- 设置session失效，单位分 -->
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
    
    <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>